.css-8atqhb {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background-color: rgba(255, 245, 238, 0.008);
    color: #9112c7;
    font-size: 20px;
}

.css-1aquho2-MuiTabs-indicator{
    background-color: azure;
}

.css-ahj2mt-MuiTypography-root{
    color: rgb(0, 0, 0);
}


