.event-form-container {
    
    display: flex;
    margin: auto;
  }
  
  .event-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(128, 0, 128, 0.2); /* Purple shadow */
  }
  
  .form-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: rgb(191, 122, 255); /* Purple text */
  }
  
  .form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(141, 78, 201); /* Purple text */
  }
  
  .input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(191, 122, 255); /* Purple border */
    border-radius: 10px;
  }
  
  .form-textarea {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgb(191, 122, 255); /* Purple border */
    font-size: 14px;
    background-color: #fff;
    resize: vertical;
  }
  
  .input:focus,
  .form-textarea:focus {
    outline: none;
    border-color: rgb(191, 122, 255); /* Purple focus border */
    box-shadow: 0 0 4px rgba(128, 0, 128, 0.4); /* Purple focus shadow */
  }
  
  .form-button {
    padding: 12px;
    background-color: rgb(191, 122, 255); /* Purple background */
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-button:hover {
    background-color: rgb(191, 122, 255); /* Darker purple hover */
  }
  